<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   

    <title>My profile</title>
</head>
<body>
    {% include 'header.html' %}
    <div class="table-container">
        <form method="post" action="{{ url_for('teachers.edit_profile') }}" class="login-form card" >
        {% if teacher_id %}
        <input type="hidden" name="teacher_id" value="{{ teacher_id }}"  />
        {% endif %}
    
        <div class="input-group">
            <label for="display_name">Display name:</label>
            <input class="form-input" type="text" name="display_name" value="{{ teacher.display_name if teacher else ''}}"   />
          </div>
          <br />

          <div class="input-group">
            <label for="username">Username:</label>
            <input class="form-input" type="text" name="username" value="{{teacher.username if teacher else ''}}" />
          </div>

          <br />
          <input class="primary-button" type="submit" value="Update" />       
    </form>
    {% include 'footer.html' %}

  </body>
</html>